*{
   margin: 0;
   padding: 0;
}
header {
    background-color:  rgb(13, 129, 13);
    display: flex;
    color: rgb(0, 0, 0) ;
    justify-content: space-around;
    align-items: center;
 }
 
 
 body{
    background-color: rgb(4, 75, 25);
    }
 
    h1 {color: rgb(28, 82, 231) ;
 }
 ul{
   display: inline-block;
   padding: 0 16px;
 }
 h2{
  text-align: center;
   color: rgb(223, 236, 29);
   font-size: 25px;
 }

.escola{
  color: rgb(43, 255, 0);
  font-size: 10px;
}


.estudante{
  color: rgb(238, 255, 2);
font-size: 10px;
}


 P{
   color: rgb(255, 255, 255);
 }
 .site{
   color:rgb(54, 101, 231) ;
}
 