*{
   margin: 0;
   padding: 0;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px dashed;
    font-family: 'Sedgwick Ave Display', cursive;

 }
 .introdução{
  padding: 6%;
 }
 
 .lista-item{
  display: flexbox;
  margin: 0 16px;
}

.escola{
  color: yellow;
}

.estudante{
  color: rgb(9, 102, 9) ;
}
 body{
    background-image: linear-gradient(rgb(33, 228, 121), rgb(0, 110, 255));
    }
 
    h1 {color: rgb(28, 82, 231);
      font-size: 40px
 }
 
 P{
   color: rgb(255, 255, 255);
   font-size: 25px;

 }
 .site{
   color:rgb(255, 255, 255) ;
}
h2{
  text-align: center;
   color: rgb(166, 255, 0);
   font-size: 35px;
   border: 5px double black;
   font-family: 'Tilt Prism', cursive;
   font-family: 'Festive', cursive;
font-family: 'Tilt Prism', cursive;
 }



 
 